<section>
  <div class="feed-container">
    <div class="feed-content">
      <div class="post-container">
        <!-- TOP POST BANNER -->
        <div class="post-banner feed-banner">
          <div class="banner-profile">
            <i class="bx bxs-user bx-md"></i>
          </div>
          <a href="/profile/post/new">
          <div class="on-your-mind">
            <p>What's on your mind?...</p>
          </div>
          </a>
        </div>

        <!-- BLOG POSTS DISPLAY -->
        <div class="blog-posts">
          {{#each posts as |post|}}
            <div class="blog-card">
              <div class="top-blog-section">
                <div class="blog-user-profile">
                  <div class="creation-profile">
                    <i class="bx bxs-user bx-sm"></i>
                  </div>
                  <div class="creation-info">
                    <a href="/profile/{{post.user.id}}"><p class="username-feed-post">{{post.user.username}}</p></a>
                    <p class="username-feed-day">{{format_date
                        post.date_created
                      }}</p>
                  </div>
                </div>
                <div class="post-title">
                  <h2>{{post.title}}</h2>
                </div>
              </div>
              <div class="middle-blog-section">
                <div class="post-body-container">
                  <p class="post-body">{{post.post_text}}</p>
                </div>
              </div>
              <div class="blog-border"></div>
              <div class="bottom-blog-section">
                <div class="post-reactions">
                  <div class="reaction-counts">
                    <p class="comments-count">{{comments.length}} comments</p>
                  </div>
                  <div class="reaction-buttons">
                    <a href="/feed/{{post.id}}"><i class="bx bx-message-square-dots bx-md"></i></a>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>