<section>
    <div class="profile-container">
        <div class="profile-content">
            <div class="post-container">
                <!-- BLOG POSTS DISPLAY -->
                <div class="blog-posts">
                    {{#each user.posts as |post|}}
                    <div class="blog-card other-users">
                        <div class="top-blog-section">
                            <div class="blog-user-profile">
                                <div class="creation-profile">
                                    <i class='bx bxs-user bx-sm'></i>
                                </div>
                                <div class="creation-info">
                                    <p class="username-feed-post">{{user.username}}</p>
                                    <p class="username-feed-day">{{format_date date_created}}</p>
                                </div>
                            </div>
                            <div class="post-title">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                        <!-- <div class="blog-border"></div> -->
                        <div class="middle-blog-section">
                            <div class="post-body-container">
                                <p class="post-body">{{post_text}}</p>
                            </div>
                        </div>
                        <div class="blog-border"></div>
                        <div class="bottom-blog-section">
                            <div class="post-reactions">
                                <div class="reaction-counts">
                                    <p class="comments-count">{{comments.length}} comments</p>
                                </div>
                                <div class="reaction-buttons">
                                    <a href="/feed/{{id}}"><i class="bx bx-message-square-dots bx-md"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- LATEST BLOG CARD -->
            <div class="profile-side-container">
                {{!-- {{#each users as |user|}} --}}
                <div class="side-card">
                    <div class="side-top">
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="side-username">
                        <p>{{user.username}}</p>
                        {{!-- <p>Joined 03/15/2023</p> --}}
                    </div>
                </div>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
</section>


{{!-- ! This is for create comment  --}}
{{!-- TODO add create bttn --}}
{{!-- TODO add a tilte div --}}
{{!-- TODO X close out div --}}
{{!-- TODO add usersame div --}}

{{!-- ! this is for the update comment --}}
{{!-- TODO add update bttn --}}
{{!-- TODO add a tilte div --}}
{{!-- TODO X close out div --}}
{{!-- TODO add usersame div --}}